services:
  docker-in-docker:
    image: "{{ forgejo_runner_dind_image }}"
    container_name: dind
    privileged: true
    command: ['dockerd', '-H', 'tcp://0.0.0.0:2375']
    volumes:
      - "./dind-config/daemon.json:/etc/docker/daemon.json:ro"
      - "/etc/ssl/certs:/etc/ssl/certs:ro"
      - "/run/systemd/resolve/resolv.conf:/etc/resolv.conf:ro"
    restart: 'unless-stopped'
    ports:
      - "172.17.0.1:2375:2375"
    healthcheck:
      test: ["CMD", "docker", "info"]
      interval: 5s
      timeout: 5s
      retries: 5

  runner:
    image: "{{ forgejo_runner_image }}"
    container_name: 'forgejo-runner'
    depends_on:
      docker-in-docker:
        condition: service_healthy
    environment:
      DOCKER_HOST: tcp://docker-in-docker:2375
    # User without root privileges, but with access to `./data`.
    user: 1001:1001
    volumes:
      - {{ volume_name }}:/data
    restart: 'unless-stopped'
    command: ["forgejo-runner", "daemon"]

volumes:
  {{ volume_name }}:
    external: true