---
services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    ports:
      - "{{ homepage_port }}:3000"
    volumes:
      - "{{ homepage_config_dir }}:/app/config"
    restart: unless-stopped