x-common: &common
  restart: unless-stopped

services:

  it-tools:
    <<: [*common]
    image: {{ tools_stack_it_tools_image }}
    container_name: it-tools
    ports:
      - "{{ port_it_tools }}:80"

  cyberchef:
    <<: [*common]
    image: {{ tools_stack_cyberchef_image }}
    container_name: cyberchef
    ports:
      - "{{ port_cyberchef }}:8080"
    volumes:
      - cyberchef-data:/var/lib/cyberchef:rw

  diagrams:
    <<: [*common]
    image: {{ tools_stack_drawio_image }}
    container_name: diagrams
    ports:
      - "{{ port_diagrams }}:8080"
    environment:
      - DRAWIO_BASE_URL=/draw
      - DRAWIO_LIGHTBOX_URL=
    tmpfs:
      - /tmp
      - /run/jetty

  excalidraw:
    <<: [*common]
    image: {{ tools_stack_excalidraw_image }}
    container_name: excalidraw
    ports:
      - "{{ port_excalidraw }}:80"

  bentopdf-simple:
    <<: [*common]
    image: {{ tools_stack_bentopdf_image }}
    container_name: bentopdf
    ports:
      - "{{ port_bentopdf }}:8080"

  plantuml:
    <<: [*common]
    image: {{ tools_stack_plantuml_image }}
    container_name: plantuml
    ports:
      - "{{ port_plantuml }}:8080"
    tmpfs:
      - /tmp
      - /var/run/jetty

  mermaid:
    <<: [*common]
    image: {{ tools_stack_mermaid_image }}
    container_name: mermaid
    ports:
      - "{{ port_mermaid }}:8080"

  convertx:
    <<: [*common]
    image: {{ tools_stack_convertx_image }}
    container_name: convertx
    ports:
      - "{{ port_convertx }}:3000"
    environment:
      - ACCOUNT_REGISTRATION=true
      - HTTP_ALLOWED=true
      - ALLOW_UNAUTHENTICATED=false
      - LANGUAGE=en
    #  - JWT_SECRET=${CONVERTX_JWT_SECRET}
    volumes:
      - convertx-data:/app/data:rw

  omni-tools:
    <<: [*common]
    image: {{ tools_stack_omni_tools_image }}
    container_name: omni-tools
    ports:
      - "{{ port_omni_tools }}:80"

volumes:
  convertx-data:
  cyberchef-data: