- name: Create Vaultwarden volumes
  community.docker.docker_volume:
    name: vaultwarden-data

- name: Create Vaultwarden container
  community.docker.docker_container:
    name: vaultwarden
    image: vaultwarden/server:1.34.3@sha256:84fd8a47f58d79a1ad824c27be0a9492750c0fa5216b35c749863093bfa3c3d7
    env:
      DOMAIN: "https://vaultwarden.local"
    volumes:
      - vaultwarden-data:/data:rw
    ports:
    - "8080:80"
    restart_policy: unless-stopped
