[defaults]
; inventory = inventory/hosts.ini # Puede ser causante de problemas con host_vars
roles_path = roles/
local_tmp = ~/.ansible/tmp
remote_tmp = ~/.ansible/tmp
nocows = 1
interpreter_python = auto_silent

# Enforces strict SSH key checking to prevent Man-in-the-Middle (MITM) attacks
# Note: The ci/cd pipeline must inject a valid known_hosts file for this to pass
host_key_checking = True

no_log = False
no_target_syslog = True

# --- ci/cd output optimization ---
display_skipped_hosts = False
display_ok_hosts = True

# -- Timeout and retries ---
timeout = 30

# Automatically skips any task or play tagged with 'base'. Otherwise use --skip-tags when running ansible-playbook
skip_tags = base

collections_path = ./collections


[privilege_escalation]
# Requires explicit 'become: true' in playbooks or tasks to enable privilege escalation
become = False 
become_method = sudo
become_user = root
become_ask_pass = False


[ssh_connection]

# Optimizes SSH multiplexing to reuse connections, speeding up multi-task plays
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey

retries = 3