# DO NOT COMMIT TO GIT
proxmox_url              = "localhost:8006"
proxmox_api_token_id     = "terraform-prov@pve!terraform-token"
proxmox_api_token_secret = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"

default_password = ""
vm_ssh_key       = ""