- name: Install dependencies (Debian/Ubuntu)
  apt:
    name: [curl, apt-transport-https, gnupg2]
    state: present
  when: ansible_os_family == "Debian"

- name: Add Wazuh GPG Key
  apt_key:
    url: https://packages.wazuh.com/key/GPG-KEY-WAZUH
    state: present

- name: Add Wazuh Repository
  apt_repository:
    repo: "deb https://packages.wazuh.com/4.x/apt/ stable main"
    state: present
    filename: wazuh

- name: Install Wazuh Agent
  apt:
    name: wazuh-agent
    state: present
    update_cache: yes

- name: Configure Agent to Manager link
  lineinfile:
    path: /var/ossec/etc/ossec.conf
    regexp: "<address>.*</address>"
    line: "      <address>{{ wazuh_manager_ip }}</address>"
  notify: Restart Wazuh Agent

- name: Set Enrollment Group (Optional)
  lineinfile:
    path: /var/ossec/etc/ossec.conf
    insertafter: "<client>"
    line: "    <enrollment>\n      <groups>{{ wazuh_agent_group }}</groups>\n    </enrollment>"
  when: wazuh_agent_group is defined
  notify: Restart Wazuh Agent

- name: Start and Enable Wazuh Agent
  service:
    name: wazuh-agent
    state: started
    enabled: yes

- name: (Optional) Hold the wazuh-agent package to prevent accidental upgrades
  ansible.builtin.apt:
    name: wazuh-agent
    state: held
