# Source: https://kubernetes.io/docs/concepts/storage/volumes/#configmap
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: config-vol
data:
  key_1: "value_1"
  key_2: "value_2"

---
apiVersion: v1
kind: Pod
metadata:
  name: pod-inject-volume
spec:
  containers:
    - name: test
      image: busybox:1.28
      command: ['sh', '-c', 'echo "The app is running! environment:$(ls -l /etc/config/)" && tail -f /dev/null']
      volumeMounts:
       - name: config-vol
         mountPath: /etc/config
  volumes:
    - name: config-vol
      configMap:
        name: my-config
