# Source: https://kubernetes.io/docs/concepts/storage/volumes/#configmap
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: my-config
data:
  key_1: "value_1"
  key_2: "value_2"

---
apiVersion: v1
kind: Pod
metadata:
  name: pod-inject-env
spec:
  containers:
    - name: test
      image: busybox:1.28
      command: ['sh', '-c', 'echo "The app is running! environment key_1: ${key_1} | key_2: ${key_2}" && tail -f /dev/null']
      # Option 1 (Precedence over envFrom)
      env:
      - name: key_1
        valueFrom:
          configMapKeyRef:
            name: my-config
            key: key_2
      # Option 2
      envFrom:
      -  configMapRef:
          name: my-config
