services:
  
  bytestash:
    image: {{ tools_stack_bytestash_image }}
    volumes:
      - {{ stack_install_dir }}/{{ bytestash_data_dir }}:/data/snippets
    ports:
      - "{{ port_bytestash }}:5000"
    environment:
      #ALLOWED_HOSTS: ${BYTESTASH_ALLOWED_HOSTS}
      BASE_PATH: ${BYTESTASH_BASE_PATH}
      JWT_SECRET: ${BYTESTASH_JWT_SECRET}
      TOKEN_EXPIRY: ${BYTESTASH_TOKEN_EXPIRY}
      ALLOW_NEW_ACCOUNTS: ${BYTESTASH_ALLOW_NEW_ACCOUNTS}
      DEBUG: ${BYTESTASH_DEBUG}
      DISABLE_ACCOUNTS: ${BYTESTASH_DISABLE_ACCOUNTS}
      DISABLE_INTERNAL_ACCOUNTS: ${BYTESTASH_DISABLE_INTERNAL_ACCOUNTS}

      # See https://github.com/jordan-dalby/ByteStash/wiki/Single-Sign%E2%80%90on-Setup for more info
      OIDC_ENABLED: ${BYTESTASH_OIDC_ENABLED}
      OIDC_DISPLAY_NAME: ${BYTESTASH_OIDC_DISPLAY_NAME:-""}
      OIDC_ISSUER_URL: ${BYTESTASH_OIDC_ISSUER_URL:-""}
      OIDC_CLIENT_ID: ${BYTESTASH_OIDC_CLIENT_ID:-""}
      OIDC_CLIENT_SECRET: ${BYTESTASH_OIDC_CLIENT_SECRET:-""}
      OIDC_SCOPES: ${BYTESTASH_OIDC_SCOPES:-""}
    restart: unless-stopped

  memos:
    image: {{ tools_stack_memos_image }}
    volumes:
      - {{ stack_install_dir }}/{{ memos_data_dir }}:/var/opt/memos
    ports:
      - "{{ port_memos }}:5230"
    restart: unless-stopped

