services:
  
  postgres:
    image: postgres:16-alpine
    env_file: .env
    restart: always
    volumes:
      - database:/var/lib/postgresql/data

  linkwarden:
    env_file: .env
    environment:
      - DATABASE_URL=postgresql://postgres:${POSTGRES_PASSWORD}@postgres:5432/postgres
    restart: always
    image: ghcr.io/linkwarden/linkwarden:latest # comment to build from source
    ports:
      - 3300:3000
    volumes:
      - ./data:/data/data
    depends_on:
      - postgres
      - meilisearch

  meilisearch:
    image: getmeili/meilisearch:v1.12.8
    restart: always
    env_file:
      - .env
    volumes:
      - meilidata:/meili_data

volumes:
  database:
  meilidata:
