version: "3.8"

services:
  broker:
    image: redis:7
    container_name: paperless-redis
    restart: unless-stopped
    volumes:
      - {{ paperless_dir }}/redis:/data

  db:
    image: postgres:15
    container_name: paperless-db
    restart: unless-stopped
    volumes:
      - {{ paperless_dir }}/postgres:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: {{ paperless_db_name }}
      POSTGRES_USER: {{ paperless_db_user }}
      POSTGRES_PASSWORD: {{ paperless_db_password }}

  webserver:
    image: ghcr.io/paperless-ngx/paperless-ngx:{{ paperless_version }}
    container_name: paperless-web
    restart: unless-stopped
    depends_on:
      - db
      - broker
    ports:
      - "{{ paperless_web_port }}:8000"
    volumes:
      - {{ paperless_dir }}/data:/usr/src/paperless/data
      - {{ paperless_dir }}/media:/usr/src/paperless/media
      - {{ paperless_dir }}/export:/usr/src/paperless/export
      - {{ paperless_dir }}/consume:/usr/src/paperless/consume
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
      PAPERLESS_DBNAME: {{ paperless_db_name }}
      PAPERLESS_DBUSER: {{ paperless_db_user }}
      PAPERLESS_DBPASS: {{ paperless_db_password }}

      PAPERLESS_SECRET_KEY: {{ paperless_secret_key }}
      PAPERLESS_TIME_ZONE: {{ paperless_time_zone }}

      PAPERLESS_ADMIN_USER: {{ paperless_admin_user }}
      PAPERLESS_ADMIN_PASSWORD: {{ paperless_admin_password }}
      PAPERLESS_ADMIN_MAIL: {{ paperless_admin_email }}

      PAPERLESS_ALLOWED_HOSTS: "paperless.local,192.168.8.100"
      PAPERLESS_URL: "https://paperless.local"
